*{
	margin: auto;
}
html {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: auto;
    background-attachment: scroll;
    opacity: 100;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
}

.S {
	text-align: center;
	font-size: 36px;
	font-family:'pt sans';
	margin: -5px;
}
.S1 {
	text-align: center;
	font-size: 24px;
	font-family:'pt sans';
}

.C1 {
    font-size: 16px;
    position: absolute;
	word-wrap: break-word;
	z-index: 200;
	top: 20px;
	bottom: 10px;
	margin: 20px;
	max-width: 500px;
	max-height: 200px;
	padding: 20px;
	background-color: white;
	opacity: 0.8;
}
.C2 {
    font-size: 16px;
    position: absolute;
	word-wrap: break-word;
	top: 80px;
	left: 200px;
	margin: 20px;
	max-width: 500px;
	max-height: 200px;
	padding: 20px;
	background-color: white;
	opacity: 0.8;
}

.C3 {
	text-align: center;
    font-size: 16px;
    position: relative;
	padding: 2px;
	color: black;
}

.B1 {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}

.BA1 {
	background: url(https://cdn.pixabay.com/photo/2019/09/02/12/35/liquid-marble-background-4447119_960_720.jpg) no-repeat;
	position: relative;
	top: 140px;
	left: 0px;
	min-height: 400px;
	min-width: 1000px;
}

.BA2 {
	background: url(https://ecooboi.com.ua/files/cache/bc/07/d9/ecooboi-mramor-s-zolotom-1605166121.jpg) no-repeat;
	position: relative;
	top: 2030px;
	left: 0px;
	min-height: 400px;
	min-width: 1000px;
}

.H1 {
	background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
    height: 85px;
}

.F {
	height: 100px;
	top: 2100px;
	position: relative;
    left: 0; bottom: 0; 
    padding: 10px; 
    background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc); 
    color: #fff; 
    width: 100%;
}

.logo {
	background-repeat: no-repeat;
    background-position: center;
	position: absolute;
	top: 10px;
	left: 20px;
}

.L1 {
	position: absolute;
	top:15px;
	left:80px;
	font-size: 2em;
}

.L2 {
	position: absolute;
    z-index: 10;
    text-align: center;
    word-wrap: break-all;
    top: 25px;
    left: 340px;
    height: 100px;
    width: 320px;
}

.T{
	position: absolute;
    z-index: 10;
	text-align: center;
    word-wrap: break-all;
    top: 570px;
    left: 200px;
    height: 100px;
    width: 650px;
}


.menu {
	position: absolute;
	top: 30px;
	right: 75px;
}

.menu a{
	color: black;
	text-align: center;
	font-size: 1.3em;
	padding: 5px;
	text-decoration: none;
}

.menu a:hover {
    color: white;
}

a {
	text-decoration: none;
}

.In {
	top: 560px;
}

.CL1 {
	top: 895px;
}
.CR1 {
	top: 800px;
}
.CL2 {
	top: 1450px;
}
.CR2 {
	top: 1330px;
}
.CL3 {
	top: 2000px;
}
.CR3 {
	top: 1885px;
}

.IM1 {
	height: 430px;
	width: 480px;
}

.leftcol {
	text-align: center;
    font-size: 16px;
	float: left;
	left: 115px;
	width: 240px;
	position: absolute;
	min-height: 200px;	
}
.rightcol {
	float: right;
	right: 80px;
	width: 400px;
	position: absolute;
	min-height: 200px;	
}

.leftcol1 {
	text-align: center;
    font-size: 16px;
	float: right;
	right: 95px;
	width: 240px;
	position: absolute;
	min-height: 200px;	
}
.rightcol1 {
	float: left;
	left: 0px;
	width: 400px;
	position: absolute;
	min-height: 200px;	
}
